<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Caurigram</title>
    <link rel="stylesheet" type="text/css" href="assets/css/app.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container p-3">
        <a class="navbar-brand" href="#"><img src="assets/img/logo.png" class="logo" /></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#menu-dropdown" aria-controls="menu-dropdown" aria-expanded="false" aria-label="Toggle nav">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menu-dropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Send Money</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/receive.html">Receive Money</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">For Business</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Support</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
      <div class="hero--main hero--receive">
        <div class="container pt-5">
          <div class="col-9 pt-5">
            <h1 class="text-light font-weight-bold">Receive money on your phone anywhere<br>in Africa</h1>
          </div>

          <div class="col-6">
            <div class="input-group py-5">
              <input type="text" class="form-control py-4" placeholder="Where are you receiving money from?" />
              <div class="input-group-append">
                <button class="btn btn-success py-2">Receive Money</button>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="hero--send py-5">
        <div class="container py-5">
          <h1 class="font-weight-bold fs-3 py-5">Forget agents for a sec,<br>leave all that hussle to us</h1>
          <div class="row pt-3">
            <div class="col-4">
              <img class="rounded-circle bg-primary p-5 d-block mb-3"></img>

              <h4>Select Caurigram Account</h4>
              <p class="text-muted">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit</p>
            </div>

            <div class="col-4">
              <img class="rounded-circle bg-primary p-5 d-block mb-3"></img>

              <h4>Money is sent to your phone</h4>
              <p class="text-muted">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit</p>
            </div>


            <div class="col-4">
              <img class="rounded-circle bg-primary p-5 d-block mb-3"></img>

              <h4>Get Money in less than 2 mins</h4>
              <p class="text-muted">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit</p>
            </div>
          </div>
        </div>
      </div>

      <div class="hero--calc py-5">
        <div class="container pt-5">
          <h1 class="font-weight-bold fs-3 text-light pt-5 text-center">Calculate how much it costs<br>to send money with Caurigram</h1>
          <p class="text-light pt-2 text-center">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor omet</p>

          <div class="card rounded card--calculate-fee mx-auto">
            <div class="bg-light py-2">
              <ul class="nav nav-tabs">
                <li class="nav-item col-6">
                  <a class="nav-link active" href="#">Send</a>
                </li>
                <li class="nav-item col-6">
                  <a class="nav-link" href="#">Receive</a>
                </li>
              </ul>
            </div>

            <div class="card-body">

              <div class="input-group pt-3">
                <input type="text" class="form-control py-4" placeholder="Enter Recepient Country" />
                <div class="input-group-append">
                  <button class="btn btn-secondary py-2">NGN</button>
                </div>
              </div>


              <div class="input-group pt-3">
                <input type="text" class="form-control py-4" placeholder="$000" />
                <div class="input-group-append">
                  <button class="btn btn-secondary py-2">USD</button>
                </div>
              </div>

              <small class="text-muted">Current exchange rate <strong>1 USD = 356.1 NGN</strong></small>

              <div class="alert alert-info d-flex justify-content-between align-items-center mt-3">
                Your Receipient Gets <span class="text-primary">89K NGN</span>
              </div>
            </div>

            <hr class="m-0" />

            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <small>YOU ARE SENDING</small>
                  <span class="text-secondary">$200</span>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-center border-top-0">
                  <small>FEES</small>
                  <span class="text-secondary">$10</span>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <small>TOTAL TO BE PAID</small>
                  <span class="text-secondary">$210</span>
                </li>
              </ul>

              <button class="btn btn-lg btn-block btn-success mt-3">Send Money</button>
            </div>
          </div>
        </div>
      </div>


      <div class="container hero--coverage py-5 d-flex d-column">
        <div class="col-5 my-auto">
          <h1 class="font-weight-bold fs-4">Our Coverage</h1>
          <p class="text-muted">There are many variations of passages og Lorem ipsum dolor sit amet Lorem</p>
        </div>
      </div>


      <div class="container bg-primary rounded p-5 text-center">
        <h3 class="fs-3 text-light font-weight-bold">Start sending & receiving<br>money the easy way</h3>
        <div class="mx-auto col-6">
          <div class="input-group py-3">
            <input type="text" class="form-control py-4" placeholder="Where are you sending money to?" />
            <div class="input-group-append">
              <button class="btn btn-success py-2">Send Money</button>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="container py-5">
        <div class="row">
          <div class="col-3">
            <ul class="nav flex-column">
              <li class="text-muted"><h5>Company</h5></li>
              <li class="nav-item">
                <a class="nav-link pl-0" href="#">The Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-0" href="#">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-0" href="#">Careers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-0" href="#">Partnerships</a>
              </li>
            </ul>
          </div>

          <div class="col-3">
            <ul class="nav flex-column">
              <li class="text-muted"><h5>Tools</h5></li>
              <li class="nav-item">
                <a class="nav-link pl-0" href="#">Fee Calculator</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-0" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-0" href="#">Compares Fees</a>
              </li>
            </ul>
          </div>

          <div class="col-3">
            <ul class="nav flex-column">
              <li class="text-muted"><h5>Support</h5></li>
              <li class="nav-item">
                <a class="nav-link pl-0" href="#">FAQs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-0" href="#">Help</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-0" href="#">hello@caurigram.com</a>
              </li>
            </ul>
          </div>

          <div class="col-3">
            <ul class="nav flex-column">
              <li class="text-muted"><h5>Follow Us</h5></li>
              <li class="nav-item">
                <a class="nav-link pl-0" href="#">Twitter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-0" href="#">Facebook</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-0" href="#">Instagram</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>