@import './fonts.scss';
@import './theme.scss';

@import 'node_modules/bootstrap/scss/bootstrap.scss';

body, html, #app {
  height: 100%;
}

body {
  font-family: CircularAir !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@import './theme.scss';
@import './onboarding.scss';
@import './ui.scss';
@import './flags.scss';

.nav-link.active {
  color: $secondary-color;
}

.txt-d-none {
  a {
    text-decoration: none;
  }
}

.cp {
  cursor: pointer;
}

.disabled-link {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .7;
}

.pea {
  pointer-events: all !important;
}

.f-shadow {
  box-shadow: 0px 2px 5px #eceaea;
}

.row-item {
  cursor: pointer;
  &:hover {
    background: var(--light);
  };
}