.spinner {
  width: 20px;
  height: 20px;
  margin: auto;
  border: 2.5px solid white;
  border-bottom-color: $primary-color;
  border-radius: 100%;
  animation: rotate .9s linear 0s infinite;
  -webkit-animation: rotate .9s linear 0s infinite;
  position: relative;
}

.action-spinner {
  border-bottom-color: transparent !important;
  right: 10px;
}

.quote-spinner {
  border-width: 1px !important;
}

button {
  .action-spinner {
    margin-left: 5px;
  }
}

.spinner-lg {
  width: 40px;
  height: 40px;
}

.centered-spinner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.progress-modal {
  height: 100px;
}