$primary-color: #0076FF;
$light-color: #F8FBFD;
$success-color: #0BDC00;

$secondary-color: #004DA5;
$shadow: #aeaeae;

$theme-colors : (
  'primary'   : $primary-color,
  'secondary' : $secondary-color,
  'light'     : $light-color,
  'success'   : $success-color
);

$enable-caret: false;

.btn-sp {
  padding: 12px 24px 10px;
}

input:focus, .btn:focus, a:focus {
  box-shadow: none !important;
}

.btn-primary {
  border: 1px solid #004DA5;
}

.btn-success {
  border: 1px solid #08A500;
}

table thead th {
  border-bottom: 0px !important;
}

.modal.fade.show {
  display: block;

  overflow-x: hidden;
  overflow-y: auto;

  background: rgba(#000000, 0.45);
}


@media (max-width: 576px) {
  .container {
    max-width: 100% !important;
  }
}