$primary-color: #0076FF;
$light-color: #F8FBFD;
$success-color: #0BDC00;

$theme-colors : (
  'primary'   : $primary-color,
  'light'     : $light-color,
  'success'   : $success-color
);

.btn {
  padding: 12px 24px 10px;
}

input:focus, .btn:focus {
  box-shadow: none !important;
}

.btn-primary {
  border: 1px solid #004DA5;
}

.btn-success {
  border: 1px solid #08A500;
}