@import './progress.scss';


.nav--main {
  box-shadow: 0px 0px 5px $shadow;
}

.modal-action button {
  border-radius: 25px;
}

tbody tr {
  line-height: 35px;
}


.quote-input  {
  height: 72px;
  padding: 28px 12px 4px;
  font-weight: bold;
  font-size: 22px;
}

.quote-label {
  position: absolute;
  top: 12px;
  left: 14px;
  z-index: 10;
  font-size: 16px;
}

.btn-quote-currency {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  min-width: 130px;
  padding-right: 40px;
}

.quote-fees {
  padding-left: 1.5em;
  position: relative;

  .fee-text-l {
    display: inline-block;
    min-width: 100px;
  }


  &::before {
    content: "";
    height: calc(100% + 16px);
    width: 2px;
    left: 7px;
    top: -16px;
    background: $secondary-color;
    position: absolute;
  }
}

.quote-fees li:before {
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  content: "";
  border-color: inherit;
  border-style: solid;
  border-width: 4px;
  border-radius: 50%;
  outline: 0;
  left: 4px;
}

.quote-fees li:first-child {
  padding-top: 20px;
}

.quote-fees li:last-child {
  padding-bottom: 8px;
}


.recipient-form {
  .form-control {
    margin-bottom: 1rem;
    padding: 1.4rem;
  }

  .form-row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

.select--recipient {
  .css-1hwfws3, .css-1wy0on6, .css-czx99k-option {
    cursor: pointer !important;
  }
}

.recipient-detail {
  li {
    line-height: 40px;
  }
}

.currencies {
  .currency-item {
    line-height: 35px;

    &:last-child {
      border-bottom: 0 !important;
    }
  }

}


@media (max-width: 425px) {
  .btn-quote-currency {
    width: 100px !important;
    min-width: 0;

    .flag {
      display: none;
    }
  }
}