@font-face {
  font-family: CircularAir;
  src: url(../fonts/circular-font/Circular_Air-Book.ttf);
}

@font-face {
  font-family: CircularAir;
  font-weight: bold;
  src: url(../fonts/circular-font/Circular_Air-Bold.ttf);
}